.pd-container {
    padding: 10px;
}

.pd-info-form {
    margin-bottom: 10px;
}

.pd-btn-area {
    display: flex;
}

.pd-header {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
}

.pd-header > h3 {
    color: #1890ff;
    border-left: 2px solid #1890ff;
    padding: 0px 10px;
    display: inline-flex;
    align-items: center;
}

.pd-image-cell {
    display: flex;
    height: 200px;
}

.pd-hover-effect {
    position: relative;
}

.pd-upload {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    opacity: 0;
}

.pd-uploaded-image {
    max-height: 200px;
    object-fit: contain;
}

.pd-preview-skeleton {
    display: flex;
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;

    background-color: #c9c9c9;
    color: white;
    font-weight: 600;
    font-size: 1.1em;
    border-radius: 5px;
}

.pd-cancel-btn, .pd-done-btn {
    margin-right: 10px;
    border-radius: 5px;
    padding: 10px;
    color: white;
}

.pd-cancel-btn {
    background-color: red;
    transition: all 0.2s linear;
}

.pd-done-btn {
    background-color: #1890ff;
    transition: all 0.2s linear;
}

.pd-cancel-btn:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(160, 1, 1);
}

.pd-done-btn:hover {
    cursor: pointer;
    background-color: #003bfd;
}

.ant-skeleton-element {
    width: 100%;
}
