.delete-btn {
    font-size: 1.45em;
    padding: 0px;
    background-color: rgba(255, 255, 255, 0);
    color: black;
    transition: color 0.2s;
}

.delete-btn:hover {
    cursor: pointer;
    color: red;
}

.product-image {
    object-fit: contain;
}